<section id="wrapper-footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        This is Footer Section
    </div>
  </div>
</section>
<section class="copy">
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        © 2017. All rights reserved.
      </div>
    </div>
  </div>
</section>